* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

#root{
    width: 100%;
    padding: 30px 0;
    display: flex;
    justify-content: center;
}

.main{
    display: flex;
    flex-direction: column;
    width: 1300px;
}

h1, h2, h3, h4, h5, h6{
    margin-bottom: 20px;
}

.orders{
    margin-top: 30px;
    display: flex;
    width: 100%;
    flex-direction: column;
}

.orders_orderLine, .orders_orderName{
    width: 100%;
    display: flex;
    justify-content: space-between;    
    margin-bottom: 10px;
}

.orders_orderLine__element{
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #000;
}

.orders_orderName__element{
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}

.inputBlock{
    display: flex;
    gap: 20px;
    width: calc(100% - 200px);
}